
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none{
    @apply hidden;
}


#root{
    font-family: 'Tilt Neon', sans-serif;
    margin: 0;
    padding: 0;
   
  }